* {
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
}
/* body{
  font-size: 20px;
} */

.bigcontainer{
  height: 87rem;
}
/* navigation bar  */
.navbar {
  display: flex;
  flex-direction: row;
  height: 100px;
  align-items: center;
  /* box-shadow: 9px -2px 20px 3px black; */
  border-bottom: 2px solid #8080804d;
  position: sticky;
  background-color: white;
  z-index: 2;
}

/* navigation menu  */
.navmenu img {
  height: 50px;
  margin: 10px 45px;
  padding: 0px 0px;
  cursor: pointer;
}

/* navigation logo  */
.navlogo img {
  height: 68px;
  margin: 0px -40px;
  padding: 0px 0px;
  cursor: pointer;
}

.navmenu img:hover {
  opacity: 65%;
}

/* navigation title  */
.navtitle>p {
  font-size: 18px;
  text-align: center;
}

#np1 {
  font-size: 31px;
  margin: -2px 40px -8px 45px;
}

#np2 {
  font-size: 17px;
  margin: 3px 12px 6px 49px;
}

.navtitle {
  display: flex;
  flex-direction: column;
  /* margin-right: 100px; */
  padding: 0px 0px;
  cursor: pointer;
}

/* navigation search bar  */
.navsearchbar {
  display: flex;
  flex-direction: row;
  margin: 0px 40px;
  padding: 8px 5px;

}

.navsearchbar input {
  height: 38px;
  width: 557px;
  font-size: 19px;
  padding: 1px 17px;
}

.navsearchbar button {
  height: 42px;
  width: 80px;
  margin: 0px 0px;
  height: 44px;
  font-size: 17px;
  width: -3px;
  cursor: pointer;
}
/* TRANSLATE  */
#google_translate_element{
  width: 10px;
}
/* FONTSIZE BUTTONS  */
.fontsize{
  height: 134px;
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 22px 175px;
  position: absolute;
  top: 39x;
  left: 61%;
}
.b3{
  width: 100px;
}
.b3 p{
  font-size: 17px;
  margin: 6px 0px;
}
.b1b2{
  display: flex;
  flex-direction: row;
  /* border: 2px solid rgb(139, 139, 15); */
  /* justify-content: space-evenly; */
  margin: -6px 13px;
}
.b1b2 .b1 button{
  height: 18px;
  width: 18px;
}
.b1b2 .b2 button{
  height: 18px;
  width: 18px;
  margin: 0px 7px;
}
/* FONTSTYLE  */
.fontstyle{
  display: flex;
  flex-direction: column;
  margin: 0px -176px;
  position: absolute;
  top: 23px;
  left: 85%;
}
.fontstyle label{
  font-size: 17px;
  margin: 4px 22px;
}
/* navigation sign  */
.navsign {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 86%;
  top: 39px;
}

.navsign li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.navsign li a {
  text-decoration: none;
  margin: 0px 5px;
  font-size: 17px;
  color: blue;
}

.navsign li a:hover {
  text-decoration: underline;
}

/* navigation setting  */
.navsetting{
  position: relative;
  top: 0px;
  left: 33%;
}
.navsetting img {
  height: 27px;
  margin: -5px 31px;
  cursor: pointer;
}

/* CONTENT  */
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* subheader */
.subheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  margin-top: 20px;
  width: 1563px;
}

/* SUBHEADERBOTH  */
.subheaderboth{
  display: flex;
  flex-direction: row;
  width: inherit;
  justify-content: space-between;
}

.subheaderchild{
  display: flex;
  flex-direction: row;
}

.subheader li a {
  color: black;
  margin: 0px 0px;
  font-size: 19px;
}

.subheader li {
  list-style-type: none;
}

.subheader li a {
  text-decoration: none;
  margin: 79px -9px;
  padding: 0px 16px;
  position: relative;
}
.subheader li a:hover{
  text-decoration: none;
  margin: 79px -9px;
  padding: 0px 16px;
  color: gray;
}

/* HR  */
.hr {
  margin-top: 7px;
  width: 1563px;
}

.hr hr {
  color: #c4c3c3a3;
  height: 0px;
  background-color: #c4c3c300;
  border: 1px solid;
}
/* WELCOME BLOCK  */
.welcome{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #c4c3c3;
  height: 200px;
  width: 1563px;
  margin: 45px 0px;
  background-color: #00000008;
}
.welcome .para1{
  font-size: 44px;
}
.welcome .para2{
  font-size: 20px;
  margin-top: 12px;
}
/* INFORMATION BLOCK  */
.info{
  height: 600px;
  width: 1563px;
  margin: 0px 0px;
  display: flex;
  flex-direction: row;
}
.info .leftbox{
  border: 2px solid #b9f9e5;
  height: 822px;
  width: 55%;
  margin-right: 15px;
  background-color: #4ad84a2b;
}
.leftbox img{
  position: relative;
  top: -11px;
  left: 0px;
  z-index: 1;
}
.info .rightbox{
  border: 2px solid #005dff42;
  height: 822px;
  width: 45%;
  margin: 0px 0px 0px 0px;
  background-color: #0066ff2e;
}
/* LEFT HEADER  */
.leftbox .leftheader{
  border: 2px solid #37d4a3a8;
  margin: 11px 10px;
  padding: 0px 0px;
  height: 75px;
  width: 97%;
  background-color: #6dd66d61;
}
.leftbox .leftheader p{
  font-size: 35px;
  text-align: center;
  columns: rgb(0, 0, 0);
  margin: 16px 0px;
}
/* LEFT CONTENT  */
.leftcontent{
  text-align: center;
  font-size: 20px;
  padding: 25px 58px;
}
/* RIGHT HEADER  */
.rightbox .rightheader{
  margin: 12px 12px;
  padding: 0px 0px;
  height: 75px;
  width: 96%;
  border: 2px solid #16479c75;
  background-color: #5483c069;
}
.rightcontent{
  text-align: center;
  font-size: 20px;
  padding: 25px 58px;
}
.rightbox .rightheader p{
  font-size: 35px;
  text-align: center;
  color: rgb(0, 0, 0);
  margin: 16px 0px;
}